<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Substitua o favicon PNG por um JPG -->
    <link rel="icon" type="image/jpeg" href="favicon.jpg">
    
    <!-- Caso deseje manter versões para tamanhos diferentes, também adicione essas linhas -->
    <link rel="icon" type="image/jpeg" sizes="128x128" href="favicon.jpg">
    <link rel="icon" type="image/jpeg" sizes="96x96" href="favicon.jpg">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="favicon.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="favicon.jpg">

    <link rel="icon" type="image/jpeg" href="favicon.jpg">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
